logs/
plugins/
config/airflow.cfg
airflow-webserver.pid
airflow.db
airflow.db-journal
scripts/*.sql
!scripts/snowflake_init.sql

__pycache__/
*.pyc


.idea/
.vscode/

postgres-db-volume/
mysql-db-volume/


airbyte/.env